@import "../theme.scss";

.search {
  margin-top: 2rem;
  align-content: center;
  display: grid;
  grid-row-gap: 0.5rem;
  grid-template-columns: minmax(0, 1fr) max-content;
  margin-bottom: 0.5rem;
}

.searchInput {
  border: 2px solid $grey-e8;
  border-right: none;
  border-radius: 0.25rem 0 0 0.25rem;
  font-size: 0.8rem;
  font-family: Orkney;
  padding: 0.5rem 1rem;
  transition-duration: 100ms;
  transition-property: border, box-shadow;

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    outline: none;
    border-color: $blue-32;
    border-right-color: $grey-e8;

    & + .searchSubmit {
      border-color: $blue-32;
      border-left-color: $grey-e8;
    }
  }
}

.searchSubmit {
  border: none;
  background: $grey-e8;
  border-radius: 0 0.25rem 0.25rem 0;
  transition-duration: 100ms;
  transition-property: border, background;
  border: 2px solid $grey-e8;
  border-left: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.searchSubmitIcon {
  color: $grey-81;
  height: 1.25rem;
  width: 1.25rem;
}

.grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-flow: inherit;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
  padding: 0.5rem 0;
  border-radius: 0.25rem 0.25rem 0 0;
}

.grid::before {
  content: "";
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  padding-bottom: 100%;
  width: 0;
}

.grid > *:first-child {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.gridItem {
  cursor: pointer;
  padding: 0;
  border: none;
  transition-duration: 150ms;
  transition-property: opacity;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }
}

.suggestion {
  font-size: 0.9rem;
}

.suggestionLink {
  color: $blue-32;
}
