@import "../theme.scss";

.container {
  grid-row: 2 / span 3;
  grid-column: 1 / span 2;
  grid-template-rows: auto minmax(0, 1fr) 4.5rem;
  z-index: 5;
  display: grid;
  background: $yellow-f1;
}

.stepper {
  display: grid;
  grid-template-columns: minmax(0, 1fr) min-content minmax(0, 1fr) min-content minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) min-content;
  max-width: 40rem;
  grid-auto-flow: column;
  justify-self: center;
  justify-items: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  margin: 1rem 0 0.5rem 0;
}

.step {
  display: grid;
  grid-row-gap: 0.5rem;
  justify-items: center;
  align-items: center;
}

.stepBtn {
  width: 4rem;
  border: 2px solid $grey-d6;
  cursor: not-allowed;
  color: $grey-d6;
  height: 4rem;
  background: transparent;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.stepBtnDone {
  cursor: pointer;
  color: $white;
  border: 2px solid transparent;
  background: $black;
}

.stepBtnActive:after {
  position: absolute;
  border-radius: 50%;
  width: calc(5rem - 4px);
  height: calc(5rem - 4px);
  box-sizing: border-box;
  left: -0.5rem;
  top: -0.5rem;
  border: 2px solid $black;
  content: "";
}

.stepIcon {
  width: 2.25rem;
  height: 2.25rem;
  color: $grey-d6;
}

.stepLabel {
  color: $grey-d6;
}

.stepLabelDone {
  color: $black;
}

.stepLabelActive {
  color: $black;
  font-weight: bold;
}

.stepSeparator {
  height: 2px;
  background: $grey-d6;
  align-self: center;
  width: 10rem;
}

.stepSeparatorActive {
  height: 3px;
  background: $black;
}

.btnNext {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  grid-column-gap: 1rem;
  align-items: center;
  background: $yellow-ff;
  border: none;
  color: $white;
  border-radius: 2rem;
  text-transform: uppercase;
  padding: 0.75rem 2rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: 150ms background;

  &:hover {
    background: darken($yellow-ff, 5%);
  }
}

.btnNextIcon {
  width: 1.5rem;
  height: 1.5rem;
  color: $grey-13;
}

.btnPrev {
  background: transparent;
  border: none;
  cursor: pointer;
}

.btnPrevIcon {
  color: $grey-13;
  width: 2rem;
  height: 2rem;
}
