@import "../../theme";

.container {
  display: inline-flex;
}

.icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: $white;
  padding: 0.3rem;
  border: 2px solid $grey-d6;
  transition-duration: 100ms;
  transition-property: border;
}
